/*set the CSS variables*/
:root {
  --documentColor: white;
  --textBackground: lightgrey;
  --headerBlack: black;
  --default: aqua;
  --sectionFamily: "garamond", sans-serif;
  --sectionBackground: navy;
}
/*set the global attributes*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
/*set the parent up to use the flex-box to render by row on smaller devices*/
body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--documentColor);
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  background-color: var(--documentColor);
}

/*set up the fonts,padding, color, and background color for the header*/
header {
  padding: 15px 0px;
  background-color: var(--headerBlack);
  color: var(--default);
}
/*setup the fonts,location,color,background color for the h1 text*/
header h1 {
  float: left;
  font-size: 20px;
  background-color: var(--textBackground);
  color: var(--headerBlack);
  margin-right: 5px;
}

/*set the dimensions of the image*/
header img {
  height: 60px;
  width: 100px;
  margin: 0;
}
/*set attributes for the menu items-- float it to the right*/
header nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 25px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
  width: auto;
}
/*set attributes for the nav bar menu*/
header nav ul {
  list-style-type: none;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  margin-left: 15px;
  top: 0;
  text-align: right;
}

/*attributes for the menu link*/
a {
  color: var(--default);
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
section_subtitle {
  display: flex;
  row-gap: 20px;
}
/*set the container for flex column and wrap and the default attributes for the background image container*/
.subtitle_background {
  display: flex;
  flex-flow: column wrap;
  height: 200px;
  width: 100%;

  background-image: url("../images/subtitle_background.jpg");
  background-size: cover;
  background-position: center;
  justify-content: space-between;
  row-gap: 20px;
}

.section_subtitle {
  position: relative;
}
/*align the subtitle*/
.section_subtitle figure h2 {
  display: flex;
  text-align: right;
  width: max-content;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: var(--textBackground);
  color: var(--headerBlack);
  display: flex;
  font-size: 30px;
}

h3 {
  display: flex;
  text-align: left;
  width: max-content;
  position: absolute;
  bottom: 0px;
  right: 5px;
  background-color: var(--textBackground);
  color: var(--headerBlack);
  display: flex;
  font-size: 30px;
}

/*set 10% of the screen for the link destination headers*/
.link-content {
  flex-basis: 10%;
  text-align: right;
  padding: 5px 25px 0 0;
  border-top: 20px;
  font-family: var(--sectionFamily);
  background-color: var(--documentColor);
  color: var(--sectionBackground);
}

/*set up the about section to use flex*/
.content_detail {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*set a border to divide the left and right side of the section,  The right side is 90% of the screen*/
.content_detail .aside_right {
  display: flex;
  border-left: 3px solid var(--sectionBackground);
  margin: 5px 0 0 0;
  padding: 0 0 0 0;
  clear: both;
  flex-basis: 90%;
  background-color: var(--documentColor);
}

/*set the attrbutes for the About Me text*/
.content_detail .aside_right p {
  padding-top: 5px;
  padding-left: 20px;
  padding-bottom: 20px;
}

/*set the dimensions for the project images and change the opacity on hover*/
.work_detail img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.work_detail img:hover {
  opacity: 0.3;
}

/*set work detail to use flex*/
.work_detail {
  padding: 0 0 0 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/*flex axis is column, position is relative for project and detail, first project image will span the next 90% of screen*/
.work_detail .first_project {
  padding: 0 0 0 0;
  display: flex;
  border-left: 3px solid var(--sectionBackground);
  margin: 5px 0 0 0;
  position: relative;
  flex-flow: column wrap;
  clear: both;
  justify-content: stretch;
  border-top: 2px solid var(--default);
  border-right: 2px solid var(--default);
  border-bottom: 2px solid var(--default);
  gap: 20px;
  flex: 1 1 90%;
  background-color: var(--document);
}

/*position for the project and detail*/
.first_project figure h2 {
  position: absolute;
  background-color: var(--textBackground);
  color: var(--headerBlack);
  display: block;
  bottom: 10px;
  left: 0px;
}

/*same setup as the first project container the remaining projects will be configured similarly
  except the column is split 40% between two projects. Smaller screens will wrap the project images
  use justify content to evenly space the elements*/
.work_detail .second_project {
  padding: 0 0 0 0;
  margin: 5px 0 0 0;
  display: flex;
  border-left: 3px solid var(--sectionBackground);
  margin-right: 5px;
  position: relative;
  flex-flow: column wrap;
  clear: both;
  border-top: 2px solid var(--default);
  border-right: 2px solid var(--default);
  border-bottom: 2px solid var(--default);
  justify-content: space-between;
  gap: 20px;
  align-content: space-between;
  flex: 1 1 40%;
  background-color: var(--document);
}

/*same as project 1*/
.second_project figure h2 {
  position: absolute;
  background-color: var(--textBackground);
  color: var(--headerBlack);
  display: block;
  bottom: 10px;
  left: 0px;
}

/*same as project 2*/
.third_project {
  margin: 5px 40px 0 0;
  padding: 0 0 0 0;
  display: flex;
  margin-right: 0;
  position: relative;
  flex-flow: column wrap;
  clear: both;
  background-position: center;
  border: 2px solid var(--default);
  gap: 20px;
  flex: 1 1 40%;
  align-content: space-between;
  background-color: var(--document);
}

.third_project figure h2 {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: var(--textBackground);
  color: var(--headerBlack);
  display: inline-table;

  bottom: 10px;
  left: 0px;
}

/*same as project 2*/
.work_detail .fourth_project {
  padding: 0 0 0 0;
  margin: 5px 0 0 0;
  display: flex;
  border-left: 3px solid var(--sectionBackground);
  margin-right: 5px;
  position: relative;
  flex-flow: column wrap;
  clear: both;
  justify-content: space-between;
  border-top: 2px solid var(--default);
  border-right: 2px solid var(--default);
  border-bottom: 2px solid var(--default);
  gap: 20px;
  align-content: space-between;
  flex: 1 1 40%;
  background-color: var(--document);
}

.fourth_project figure h2 {
  position: absolute;
  background-color: var(--textBackground);
  color: var(--headerBlack);
  display: block;
  bottom: 10px;
  left: 0px;
}

/*same as project 2*/
.fifth_project {
  margin: 5px 40px 0 0;
  padding: 0 0 0 0;
  display: flex;
  margin-right: 0;
  position: relative;
  flex-flow: column wrap;
  clear: both;
  border: 2px solid var(--default);
  gap: 20px;
  flex: 1 1 40%;
  align-content: space-between;
  background-color: var(--document);
}

.fifth_project figure h2 {
  position: absolute;
  background-color: var(--textBackground);
  color: var(--headerBlack);
  display: block;
  bottom: 10px;
  left: 0px;
}

/*font size for my projects and the detail*/
.project {
  margin: 0;
  padding: 0;
  font-size: 25px;
}
.detail {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.contact_detail {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
}

/*set the axis to row to allow the contact elements to flow evenly across the screen*/
.contact_detail .position {
  padding: 0 0 0 0;
  display: flex;
  border-left: 3px solid var(--sectionBackground);
  margin: 5px 0 0 0;
  flex-flow: row wrap;
  justify-content: space-evenly;
  flex: 1 1 90%;
}

/*Elements to be positioned across the screen*/
.position .phone {
  height: 25px;
  margin: 5px 0 0 0;
  display: flex;
  flex: 1 1 1;
  flex-flow: column wrap;
  color: var(var(--headerBlack));
  font-weight: bold;

  border-bottom: 3px solid var(--headerBlack);
}
.position .email {
  height: 25px;
  margin: 5px 0 0 0;
  display: flex;
  flex: 1 1 1;
  flex-flow: column wrap;
  color: var(var(--headerBlack));
  font-weight: bold;

  border-bottom: 3px solid var(--headerBlack);
}

.position .linkedn {
  height: 25px;
  margin: 5px 0 0 0;
  display: flex;
  flex: 1 1 1;
  flex-flow: column wrap;
  color: var(var(--headerBlack));
  font-weight: bold;

  border-bottom: 3px solid var(--headerBlack);
}

@media screen and (max-width: 660px) {
  /* stack the menu items and change the image size */
  header {
    display: flex;

    width: 100%;
    margin: 0;
  }
  header h1 {
    height: 100%;
  }
  header nav {
    width: 100%;

    flex-direction: column;

    padding: 0px 5px;
    background-color: var(--headerBlack);
    margin: 0;
  }

  header nav ul li {
    width: 100%;
    padding: 0 20px;
  }
  /*remove the flex-basis of 10% for smaller media*/
  .link-content {
    flex-basis: 0%;
    text-align: right;
    padding: 0;
    border-top: 20px;
    font-family: var(--sectionFamily);
    background-color: var(--documentColor);
    color: var(--sectionBackground);
  }
  /*the image wraps and takes 100% width*/
  .work_detail .first_project {
    flex: 1 1 100%;
  }

  /*change the spacing and font size for the project and detail elements*/
  h3 {
    position: absolute;
    background-color: var(--textBackground);
    color: var(--headerBlack);
    display: flex;
    bottom: 3px;
    left: 0px;
  }

  .project {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  .detail {
    margin: 0;
    padding: 0;
    font-size: 7px;
  }
}

/*similar for even smaller devices*/
@media screen and (max-width: 285px) {
  /* stack the menu items and change the image size */
  header {
    display: flex;
    width: 100%;
    margin: 0;
  }
  header h1 {
    height: 100%;
  }
  header nav {
    width: 30%;
    flex-direction: column;
    padding: 0px 5px;
    background-color: var(--headerBlack);
    margin: 0;
  }

  header nav ul li {
    font-size: 15px;
    text-align: left;
    width: 60%;
    padding: 0;
    margin: 0;
  }
  .work_detail .first_project {
    flex: 1 1 100%;
  }
  .work_detail .second_project {
    flex: 1 1 1;
  }
  .work_detail .third_project {
    flex: 1 1 1;
  }
  .work_detail .fourth_project {
    flex: 1 1 1;
  }
  .work_detail .fifth_project {
    flex: 1 1 1;
  }
  .link-content {
    flex-basis: 0%;
    text-align: right;
    padding: 0;
    border-top: 20px;
    font-family: var(--sectionFamily);
    background-color: var(--documentColor);
    color: var(--sectionBackground);
  }
  .project {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }
  .detail {
    margin: 0;
    padding: 0;
    font-size: 7px;
  }
}
